/***********************************************

 Autores: Integrante 1 - Integrante 2

***********************************************/

:root{
    --color-oscuro: #12232E;
    --color-claro: #007CC7;
    --color-clarosecun: #4da8da;
    --color-rosarubor: #203647;
    --color-verdecomplementario: #eefbfb; 
}

body{
    width: 100%;/*agregada*/
}



/* Cabecera principal */

.main-header{
    background-color: var(--color-rosarubor);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-header img{
    max-width: 80px;
    order: 0;
}
.main-header h1{
    order: 1;
}
.notifications{
    order: 2;
}

/*Nav Principal*/
nav{

    position: absolute;/*agregada*/
} 



/* Barra de navegación */

.main-menu{
    top: 80px;
    height: calc(100% - 80px);
    position: fixed;/*creo que se puede porque no incluye a los elemento de la caja, solo la posicion de la misma*/
    position: absolute;
    background-color: var(--color-claro);   
}

.main-menu h2{
    margin: 8px 0px;
}

main section{
    padding: 3px;
    background-color: green;
    /*display: flex;/*agregada*/
}

.menu-group{
    display: flex;
    flex-direction: column;
}
.menu-group a{
    display: flex;
    align-items: stretch;
    text-decoration: none;

}
.menu-text{
    font-size: 16px;
}
.material-icons{
    font-size: 20px;
    height: 29px;
    width: 24px;
}

/*main*/
main{
    height: 100%;/*agregada*/
    width: calc(100% - var(--nav-width));/*agregada*/
    position: absolute;/*agregada*/
    left: 180px;/*agregada*/
}

/* main section{
    display: flex;
} */

/*Secciones del menu*/

.exclusive-offers{
    display: flex;/*agregada*/
    flex-direction: row;/*agregada*/
    justify-content: space-around;/*agregada*/
    flex-wrap: wrap;/*agregada*/
    height: 500px;/*agregada*/
    background-color: var(--color-clarosecun);
}
.art-offer{
    width: 30%;/*agregada*/
    height: 440px;/*agregada*/
    background-color: var(--color-claro);
}

.exclusive-offers h2{
    width: 100%;
    height: 35px;/*agregada*/
    line-height: 35px;/*agregada*/
    text-align: center;/*agregada*/
}

.art-offer header{  
    display: flex;/*agregada*/
    flex-direction: row;/*agregada*/
    align-items: center;/*agregada*/
    justify-content: space-evenly;/*agregada*/
    font-size: 15px;/*agregada*/
    height: 35px;/*agregada*/
}
.art-offer img{
    width: 260px;/*agregada*/
    height: 220px;/*agregada*/
}

.art-offer>footer{
    display: flex;/*agregada*/
    flex-direction: column ;/*agregada*/
    height: 60px;/*agregada*/
    align-items: center;/*agregada*/
}
.art-offer>footer>p{
    width: 100%;/*agregada*/
    height: 50%;/*agregada*/
}
.art-offer>footer>button{
    width: 25%;/*agregada*/
    height: 50%;/*agregada*/
}
.art-offer>footer>button:hover{
    background-color: var(--color-oscuro);/*agregada*/
    color: var(--color-claro);/*agregada*/
    cursor: pointer;/*agregada*/
    }    

.art-details{
    display: flex;/*agregada*/
    flex-wrap: wrap;/*agregada*/
    margin:10px ;/*agregada*/
    padding: 2px;/*agregada*/
    justify-content: center;/*agregada*/
    height: 100px;/*agregada*/
    background-color: var(--color-verdecomplementario);
}

.art-details h4{
    height: 15%;/*agregada*/
    font-style: italic;/*agregada*/
    font-size: 15px;/*agregada*/
}
.art-details p{
    height: 85%;/*agregada*/
    padding-top: 5px;/*agregada*/
}






/* Tarjetas */
.card{
    background-color: brown;
}

/* Cotización */
.loading-item{
    background-color: lightblue;
}

/* Pie de página principal */
.main-footer{
    background-color: violet;
}